.favorite-header {
  margin: 30px 0 48px !important;
  padding: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #2c2d2e;
}

.favorite-cards {
  margin: 30px 0 20px 0 !important;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.emptyText {
  padding: 0;
  margin: 0;
}

.noneFavoriteCart {
  padding: 10px 20px;
  border-radius: 10px;
  width: 70%;
  background: rgba(255, 192, 7, 0.3);
  display: flex;
  align-items: center;
  margin-bottom: 180px;
}

@media (max-width: 576px) {
  .favorite-header {
    margin: 32px 0 24px;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #2c2d2e;
  }

  .noneFavoriteCart {
    width: 100%;
    margin-bottom: 120px;
  }

  .favorite-cards {
    margin: 30px 0 70px 0 !important;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (max-width: 390px) {
  .favorite-header {
    margin: 32px 0 24px;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #2c2d2e;
  }

  .favorite-cards {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
