.dacha-mini-card {
  display: none;
}
.mini-card-wrap {
  display: none;
}

.mini-card-price {
  padding: 0;
  margin: 0;
  color: black;
  font-size: 14px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 576px) {
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  .dacha-mini-heart-icon {
    color: #2c2d2e;
    width: 15px;
    height: 11px;
    margin-top: -4px;
    cursor: pointer;
    text-align: center;
  }

  .dacha-mini-heart-icon:hover {
    animation: heartbeat 1s infinite;
    transition: opacity 500ms;
  }

  .dacha-mini-card {
    display: block;
    max-width: 170px;
    background: #ffffff;
    padding: 0 !important;
    text-decoration: none;
    border-radius: 20px 20px 10px 10px;
  }
  .mini-card-wrap {
    display: block;
    position: relative;
  }
  .mini-card-info {
    padding: 0 10px;
  }
  .img-wrap {
    position: relative;
    width: 100% !important;
    padding: 0 !important;
  }
  .view-img {
    width: 170px !important;
    height: 160px !important;
    top: 0;
    border-radius: 10px 10px 0 0 !important;
    margin: 0 !important;
  }
  .overlay-img-card {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 53, 53, 0.605);
    border-radius: 10px 10px 0 0 !important;
  }
  .no-active-text-mini {
    position: absolute;
    top: 70px;
    left: 35px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    z-index: 1;
  }

  .dmc-like {
    position: absolute;
    top: 145px;
    right: 6px;
    background: #ffffff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding-bottom: 5px;
    z-index: 0;
  }

  .dmc-name {
    margin: 3px 0 2px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #2c2d2e;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    height: 1.75rem;
  }

  .dmc-text {
    margin: 0 0 6px 0;
    padding: 0;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #2c2d2e;
  }

  .dmc-text:last-child {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 390px) {
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  .dacha-mini-heart-icon {
    color: #2c2d2e;
    fill: #2c2d2e;
    width: 15px;
    height: 11px;
    margin-top: -4px;
    cursor: pointer;
    text-align: center;
  }

  .dacha-mini-heart-icon:hover {
    animation: heartbeat 1s infinite;
    transition: opacity 500ms;
  }

  .overlay-img-card {
    position: absolute;
    top: 0;
    width: 97%;
    height: 100%;
    background-color: rgba(54, 53, 53, 0.605);
    border-radius: 10px 10px 0 0 !important;
  }
  .mini-card-wrap {
    display: block;
    position: relative;
    width: 47% !important;
    padding: 0 !important;
  }
  .dacha-mini-card {
    display: block;
    width: 100% !important;
    background: #ffffff;
    padding: 0 !important;
    text-decoration: none;
    border-radius: 20px 20px 10px 10px;
  }
  .mini-card-info {
    padding: 0 10px;
  }
  .img-wrap {
    width: 166px !important;
    padding: 0 !important;
  }
  .view-img {
    max-width: 160px !important;
    height: 150px !important;
    top: 0;
    border-radius: 10px 10px 0 0 !important;
    margin: 0 !important;
  }
  .no-active-text-mini {
    position: absolute;
    top: 70px;
    left: 25px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    z-index: 1;
  }
  .dmc-like {
    position: absolute;
    top: 138px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 10;
  }

  .dmc-like:active {
    background: #2c2d2e;
  }
  .dmc-like-active {
    background: #2c2d2e;
    color: red;
  }

  .dmc-name {
    margin: 3px 0 2px;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #2c2d2e;
  }

  .dmc-text {
    margin: 0 0 6px 0;
    padding: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #2c2d2e;
  }

  .dmc-text:last-child {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 370px) {
  .dacha-mini-card {
    display: block;
    max-width: 155px;
    background: #ffffff;
    padding: 0 !important;
    text-decoration: none;
    border-radius: 20px 20px 10px 10px;
  }
  .dacha-mini-heart-active {
    fill: red;
    color: red;
  }
  .dmc-like-active {
    background: #2c2d2e;
  }
  .overlay-img-card {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 53, 53, 0.605);
    border-radius: 10px 10px 0 0 !important;
  }
  .img-wrap {
    width: 100% !important;
    padding: 0 !important;
  }
  .view-img {
    max-width: 154px !important;
    height: 150px !important;
    top: 0;
    border-radius: 10px 10px 0 0 !important;
    margin: 0 auto !important;
  }
}
