*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../src/fonts/Roboto-Regular.ttf);
}

.roboto {
  font-family: Roboto;
  font-style: normal;
}

@font-face {
  font-family: Oswald;
  src: url(../src/fonts/Oswald-Regular.ttf);
}
.oswald {
  font-family: Oswald;
  font-style: normal;
}
.container {
  max-width: 1050px !important;
  margin: 0 auto !important;
  padding: 0 16px !important;
}
.swiper {
  z-index: 1 !important;
}
Link {
  z-index: 40;
}
.mini-naw .active {
  display: block;
  color: aqua !important;
  opacity: 1;
  padding: 0;
  box-shadow: inset;
}
